@font-face{
	src:url("fonts/Montserrat-Light.ttf");
	font-family: Aston;

	src:url("fonts/Abel-Regular.ttf");
	font-family: abel;
}




body{
	padding: 0px;
	margin: 0px;
	font-family: 'abel', sans-serif;



}

.body-cover{
	max-width: 1320px;
	margin: auto;

}

.inner-cover{
	width: 96%;
	margin:0px auto;
}


