.house-wrap{
	display: flex;
	justify-content: space-between;

	a{
		text-decoration: none;
		color: #000;
	}
}


.inner-cover{
	height: 370px;
	width: 90%;

	.house{
		width: 280px;

		&-img{
			width: 100%;
			border-radius: 10px;
			overflow: hidden;
			
			img{
				width: 100%;
				object-fit: cover;
			}
		}
		
		&-details{
			padding: 7px 0;


			.house-loc{
				display: flex;
				justify-content: space-between;
				width: 80%;
				align-items: center;

				.rent{
					background: #c0392b;
					display: inline-block;
					padding: 2px 10px;
					border-radius: 10px 0 10px 0;
					color: #fff;
					font-size: 13px;
				}
				
				.sale{
					background: #16a085;
					display: inline-block;
					padding: 2px 10px;
					border-radius: 10px 0 10px 0;
					color: #fff;
					font-size: 13px;
				}
				
			}

			p{
				padding: 3px 0;
				.house-price{
					font-weight: bold;

				}
			}
		}
	}
}
