

.intro{
	min-height: 440px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: #f8f9fa;*/
	background: rgba(0,0,0,.01);


.wrapper{
	display: grid;
	grid-template-rows: repeat(1, minmax(200px, min-content)) ;
	grid-template-columns:repeat(auto-fit, minmax(200px,290px) ) ;
	justify-content: center;
	align-items: center;
	margin: auto;
	grid-gap: 15px;
	width: 98%;


	

	.notice{
		text-align: center;
		background: #fff;
		height: 250px;
		padding: 20px;
		border-radius: 10px;
		box-sizing: border-box;
		box-shadow: 0 0px 30px  rgba(0,0,0,.05);
		transition: all .3s ease;
		

		&:hover{
			box-shadow: 0 0px 30px  rgba(0,0,0,.1);

		}
	}
}
}
